
:root {
    --background-color: #ddecd5;
    --nav-background-color: #e2eddd;
    --footer-background-color: #4c5530;
    --border-color: black;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

h1, h2, h3, a, p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: black;
}

body {
    /*background-color: var(--background-color);*/
    margin: 0px;
    height: 1vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    width: 100%;
}

footer {
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    color: white;
}


nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

nav > .nav-section-active {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    /* TO BE MADE */
}

#nav-logo{
    justify-content: flex-start;
    vertical-align: bottom;
}

#nav-logo,
#nav-link{
    flex-basis: calc(100% / 3);
}

#nav-socials,
#nav-contact{
    flex-grow: 1;
}

main{
    display: grid;
}